header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  background-color: #2f4154;
}

h1 {
  cursor: pointer !important;
  margin-right: auto;
}

.nav__links li,
h1 {
  display: inline-block;
  padding: 0 20px;
}

h1 {
  color: white;
  font-size: 1rem;
  margin-right: auto !important;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: white;
  cursor: pointer;
}

.nav__links li a:hover {
  transition: all 0.3s ease 0s;
  color: #85b7ed;
}

button {
  padding: 5px 20px;
  background-color: rgb(51, 0, 51, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  color: white;
}

button:hover {
  transition: all 0.3s ease 0s;
  background-color: #85b7ed;
  color: white;
}
